QPushButton{
	background-color: black;
	border: 1px solid #650017;
	color: white;
}
QPushButton:hover{
	background-color: black;
	border: 2px solid #650017;
}
QPushButton:pressed{
	background-color: transparent;
}
QPushButton:checked {
	background-color: transparent;
}
QLabel {
	color: white;
}